                            <div class="tours-list__sidebar-search">
                                <h3 class="tours-list__sidebar-search-title">搜索项目</h3>
                                <form class="tours-list__sidebar-form">
                                    <div class="tours-list__sidebar-input">
                                        <input type="text" placeholder="目的地" name="where to">
                                    </div>
                                    <div class="tours-list__sidebar-input">
                                        <input type="text" placeholder="日期" name="when">
                                    </div>
                                    <div class="tours-list__sidebar-input">
                                        <select class="selectpicker" id="type">
                                            <option value="Adventure">种类</option>
                                            <option value="Adventure">名校插班</option>
                                            <option value="Wildlife">冬夏令营</option>
                                            <option value="Sightseeing">日常研学</option>
                                        </select>
                                    </div>
                                    <button type="submit" class="thm-btn tours-list__sidebar-btn">筛选</button>
                                </form>
                            </div>