        <!--Gallery One Start-->
        <section class="gallery-one">
            <div class="gallery-one-bg" style="background-image: url(static/image/gallery-map.png)"></div>
            <div class="gallery-one__container-box clearfix">
                <ul class="list-unstyled gallery-one__content clearfix">
                    <li class="wow fadeInUp" data-wow-delay="100ms">
                        <div class="gallery-one__img-box">
                            <img src="static/picture/gallery-one-img-1.jpg" alt="">
                            <div class="gallery-one__iocn">
                                <a class="img-popup" href="static/picture/gallery-one-img-1.jpg"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </li>
                    <li class="wow fadeInUp" data-wow-delay="200ms">
                        <div class="gallery-one__img-box">
                            <img src="static/picture/gallery-one-img-2.jpg" alt="">
                            <div class="gallery-one__iocn">
                                <a class="img-popup" href="static/picture/gallery-one-img-2.jpg"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </li>
                    <li class="wow fadeInUp" data-wow-delay="300ms">
                        <div class="gallery-one__img-box">
                            <img src="static/picture/gallery-one-img-3.jpg" alt="">
                            <div class="gallery-one__iocn">
                                <a class="img-popup" href="static/picture/gallery-one-img-3.jpg"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </li>
                    <li class="wow fadeInUp" data-wow-delay="400ms">
                        <div class="gallery-one__img-box">
                            <img src="static/picture/gallery-one-img-4.jpg" alt="">
                            <div class="gallery-one__iocn">
                                <a class="img-popup" href="static/picture/gallery-one-img-4.jpg"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </li>
                    <li class="wow fadeInUp" data-wow-delay="500ms">
                        <div class="gallery-one__img-box">
                            <img src="static/picture/gallery-one-img-5.jpg" alt="">
                            <div class="gallery-one__iocn">
                                <a class="img-popup" href="static/picture/gallery-one-img-5.jpg"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <!--Gallery Oned End-->