<!--Popular Tours Two Start-->
<section class="popular-tours-two">
    <div class="container">
        <div class="section-title text-center">
            <span class="section-title__tagline">高性价比 • 高含金量</span>
            <h2 class="section-title__title">近期热门项目</h2>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="100ms">
                <!--Popular Tours Two Single-->
                <div class="popular-tours__single">
                    <div class="popular-tours__img">
                        <a href="tour-bubuzoushijie-niboer.html"><img src="static/picture/nextcamp/Nepal.png" alt=""></a>
                    </div>
                    <div class="popular-tours__content">
                        <div class="popular-tours__stars">
                            <i class="fa fa-star"></i> 大数据AI得分9.8
                        </div>
                        <h3 class="popular-tours__title"><a href="tour-bubuzoushijie-niboer.html">步步走世界之尼泊尔</a>
                        </h3>
                        <p class="popular-tours__rate"><span>¥35900起</span> / 每人</p>
                        <ul class="popular-tours__meta list-unstyled">
                            <li><a href="tour-bubuzoushijie-niboer.html">9天</a></li>
                            <li><a href="tour-bubuzoushijie-niboer.html">13岁及以上</a></li>
                            <li><a href="tour-bubuzoushijie-niboer.html">尼泊尔</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="200ms">
                <!--Popular Tours Two Single-->
                <div class="popular-tours__single">
                    <div class="popular-tours__img">
                        <a href="tour-bubuzoushijie-malai-yigong.html"><img src="static/picture/nextcamp/Malaysia.png" alt=""></a>
                    </div>
                    <div class="popular-tours__content">
                        <div class="popular-tours__stars">
                            <i class="fa fa-star"></i> 大数据AI得分9.1
                        </div>
                        <h3 class="popular-tours__title"><a href="tour-bubuzoushijie-malai-yigong.html">马来西亚联合国义工</a></h3>
                        <p class="popular-tours__rate"><span>¥13900起</span> / 每人</p>
                        <ul class="popular-tours__meta list-unstyled">
                            <li><a href="tour-bubuzoushijie-malai-yigong.html">8天</a></li>
                            <li><a href="tour-bubuzoushijie-malai-yigong.html">12-16岁</a></li>
                            <li><a href="tour-bubuzoushijie-malai-yigong.html">马来西亚</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="300ms">
                <!--Popular Tours Two Single-->
                <div class="popular-tours__single">
                    <div class="popular-tours__img">
                        <a href="tour-cambriage-presummer.html"><img src="static/image/indexprogram/cambridge_summer.jpg" alt=""></a>
                    </div>
                    <div class="popular-tours__content">
                        <div class="popular-tours__stars">
                            <i class="fa fa-star"></i> 大数据AI得分9.0
                        </div>
                        <h3 class="popular-tours__title"><a href="tour-cambriage-presummer.html">剑桥大学夏校预科</a></h3>
                        <p class="popular-tours__rate"><span>6500英镑</span> / 每人</p>
                        <ul class="popular-tours__meta list-unstyled">
                            <li><a href="tour-cambriage-presummer.html">2周</a></li>
                            <li><a href="tour-cambriage-presummer.html">15-18</a></li>
                            <li><a href="tour-cambriage-presummer.html">英国剑桥</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="400ms">
                <!--Popular Tours Two Single-->
                <div class="popular-tours__single">
                    <div class="popular-tours__img">
                        <a href="oxford_language.html"><img src="static/image/indexprogram/oxford_language.jpg" alt=""></a>
                    </div>
                    <div class="popular-tours__content">
                        <div class="popular-tours__stars">
                            <i class="fa fa-star"></i> 大数据AI得分9.1
                        </div>
                        <h3 class="popular-tours__title"><a href="oxford_language.html">牛津语言冬令营</a></h3>
                        <p class="popular-tours__rate"><span>¥36800</span> 每人(可亲子)</p>
                        <ul class="popular-tours__meta list-unstyled">
                            <li><a href="oxford_language.html">两周起</a></li>
                            <li><a href="oxford_language.html">12-17岁</a></li>
                            <li><a href="oxford_language.html">英国 牛津</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="500ms">
                <!--Popular Tours Two Single-->
                <div class="popular-tours__single">
                    <div class="popular-tours__img">
                        <a href="Y003.html"><img src="static/image/indexprogram/sixiao_winter_uk.jpg" alt=""></a>
                    </div>
                    <div class="popular-tours__content">
                        <div class="popular-tours__stars">
                            <i class="fa fa-star"></i> 大数据AI得分9.9
                        </div>
                        <h3 class="popular-tours__title"><a href="Y003.html">英国寒假私校插班</a></h3>
                        <p class="popular-tours__rate"><span>¥26800</span> / 每人</p>
                        <ul class="popular-tours__meta list-unstyled">
                            <li><a href="Y003.html">12天</a></li>
                            <li><a href="Y003.html">8-17岁</a></li>
                            <li><a href="Y003.html">英国</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="600ms">
                <!--Popular Tours Two Single-->
                <div class="popular-tours__single">
                    <div class="popular-tours__img">
                        <a href="Y008-1.html"><img src="static/image/programs/Y008/background.jpg" alt=""></a>
                    </div>
                    <div class="popular-tours__content">
                        <div class="popular-tours__stars">
                            <i class="fa fa-star"></i> 大数据AI得分9.5
                        </div>
                        <h3 class="popular-tours__title"><a href="Y008-1.html">新国立寒假官方项目</a></h3>
                        <p class="popular-tours__rate"><span>¥24800</span> / 每人</p>
                        <ul class="popular-tours__meta list-unstyled">
                            <li><a href="Y008-1.html">7天</a></li>
                            <li><a href="Y008-1.html">15周岁及以上</a></li>
                            <li><a href="Y008-1.html">新加坡</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--Popular Tours Two End-->