<!--About Page Start-->
<section class="about-page">
  <div class="container">
    <div class="row">
      <div class="col-xl-6">
        <div class="about-page__left">
          <div class="about-page__img">
            <img src="static/picture/about-page-img.jpg" alt="">
          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="about-page__right">
          <div class="section-title text-left">
            <span class="section-title__tagline">Learn about us</span>
            <h2 class="section-title__title">Dare to Explore with Tevily Agency</h2>
          </div>
          <p class="about-page__text-1">A Simply Perfect Place to Get Lost</p>
          <p class="about-page__text-2">We are trusted by our clients and have a reputation for the
            best services in the field. Lorem ipsum is simply free text dolor sit amett consectetur
            adipiscing elit. It is a long established fact that a reader will be distracted by the
            readable content of a page.</p>
          <div class="about-page__progress">
            <div class="about-page__progress-single">
              <h4 class="about-page__progress-title">Best Services</h4>
              <div class="bar">
                <div class="bar-inner count-bar" data-percent="77%">
                  <div class="count-text">77%</div>
                </div>
              </div>
            </div>
            <div class="about-page__progress-single">
              <h4 class="about-page__progress-title">Tour Agents</h4>
              <div class="bar marb-0">
                <div class="bar-inner count-bar" data-percent="38%">
                  <div class="count-text">38%</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--About Page End-->