                                <div class="tour-sidebar__sorter-single">
                                    <div class="tour-sidebar__sorter-top">
                                        <h3></h3>
                                        <button class="tour-sidebar__sorter-toggler"></button>

                                    </div>
                                    <div class="tour-sidebar__sorter-content">
                                        <div class="tour-sidebar__sorter-inputs">
                                            <p>
                                                <input type="checkbox" id="review-5" name="radio-group">
                                                <label for="review-5">
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star active"></i>
                                                </label>
                                            </p>
                                            <p>
                                                <input type="checkbox" id="review-4" name="radio-group">
                                                <label for="review-4">
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star"></i>
                                                </label>
                                            </p>
                                            <p>
                                                <input type="checkbox" id="review-3" name="radio-group">
                                                <label for="review-3">
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </label>
                                            </p>
                                            <p>
                                                <input type="checkbox" id="review-2" name="radio-group">
                                                <label for="review-2">
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star "></i>
                                                    <i class="fa fa-star "></i>
                                                    <i class="fa fa-star "></i>
                                                </label>
                                            </p>
                                            <p>
                                                <input type="checkbox" id="review-1" name="radio-group">
                                                <label for="review-1">
                                                    <i class="fa fa-star active"></i>
                                                    <i class="fa fa-star "></i>
                                                    <i class="fa fa-star "></i>
                                                    <i class="fa fa-star "></i>
                                                    <i class="fa fa-star "></i>
                                                </label>
                                            </p>
                                        </div>
                                    </div>
                                </div>
