<div class="tour-details__review-score">
  <div class="tour-details__review-score-ave">
    <div class="my-auto">
      <h3>9.8</h3>
      <p><i class="fa fa-star"></i> 分</p>
    </div>
  </div>
  <div class="tour-details__review-score__content">
    <!--Tour Details Review Score Bar-->
    <div class="tour-details__review-score__bar">
      <div class="tour-details__review-score__bar-top">
        <h3>服务</h3>
        <p>100%</p>

      </div>
      <div class="tour-details__review-score__bar-line">
        <span class="wow slideInLeft" data-wow-duration="1500ms" style="width: 100%;"></span>
      </div>
    </div>
    <!--Tour Details Review Score Bar-->
    <div class="tour-details__review-score__bar">
      <div class="tour-details__review-score__bar-top">
        <h3>位置</h3>
        <p>100%</p>

      </div>
      <div class="tour-details__review-score__bar-line">
        <span class="wow slideInLeft" data-wow-duration="1500ms" style="width: 100%;"></span>
      </div>
    </div>
    <!--Tour Details Review Score Bar-->
    <div class="tour-details__review-score__bar">
      <div class="tour-details__review-score__bar-top">
        <h3>丰富</h3>
        <p>90%</p>

      </div>
      <div class="tour-details__review-score__bar-line">
        <span class="wow slideInLeft" data-wow-duration="1500ms" style="width: 90%;"></span>
      </div>
    </div>
    <!--Tour Details Review Score Bar-->
    <div class="tour-details__review-score__bar">
      <div class="tour-details__review-score__bar-top">
        <h3>价格</h3>
        <p>80%</p>

      </div>
      <div class="tour-details__review-score__bar-line">
        <span class="wow slideInLeft" data-wow-duration="1500ms" style="width: 80%;"></span>
      </div>
    </div>
    <!--Tour Details Review Score Bar-->
    <div class="tour-details__review-score__bar">
      <div class="tour-details__review-score__bar-top">
        <h3>舒适</h3>
        <p>90%</p>

      </div>
      <div class="tour-details__review-score__bar-line">
        <span class="wow slideInLeft" data-wow-duration="1500ms" style="width: 90%;"></span>
      </div>
    </div>
  </div>
</div>