
<!--成员介绍下面的联系方式-->

<div class="team-one__social">
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
</div>

<!--泰国廊开志愿者项目-->
<div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="300ms">
    <!--Popular Tours Two Single-->
    <div class="popular-tours__single">
        <div class="popular-tours__img">
            <img src="static/image/bubuzhoushijie/Thailand/back1.png" alt="">
            <div class="popular-tours__icon">
                <a href="tour-details.html">
                    <i class="fa fa-heart"></i>
                </a>
            </div>
        </div>
        <div class="popular-tours__content">
            <div class="popular-tours__stars">
                <i class="fa fa-star"></i> 大数据AI得分9.0
            </div>
            <h3 class="popular-tours__title"><a href="tour-bubuzoushijie-thailand.html">步步之泰国义工团</a></h3>
            <p class="popular-tours__rate"><span>¥13900起</span> / 每人</p>
            <ul class="popular-tours__meta list-unstyled">
                <li><a href="tour-bubuzoushijie-thailand.html">8天</a></li>
                <li><a href="tour-bubuzoushijie-thailand.html">12岁-16岁</a></li>
                <li><a href="tour-bubuzoushijie-thailand.html">泰国廊开</a></li>
            </ul>
        </div>
    </div>
</div>