Tour Search Start
        <section class="tour-search">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="tour-search-box">
                            <form class="tour-search-one" action="tour-sidebar.html">
                                <div class="tour-search-one__inner">
                                    <div class="tour-search-one__inputs">
<!--                                        <div class="tour-search-one__input-box">-->
<!--                                            <label for="place">Where to</label>-->
<!--                                            <input type="text" placeholder="Enter keywords" name="place" id="place">-->
<!--                                        </div>-->
                                        <div class="tour-search-one__input-box">
                                            <label>时间</label>
                                            <input type="text" placeholder="八月" name="when" id="datepicker">
                                        </div>
                                        <div class="tour-search-one__input-box tour-search-one__input-box-last">
                                            <label for="type">搜索国家</label>
                                            <select class="selectpicker" id="type">
                                                <option value="Adventure">英国</option>
                                                <option value="Wildlife">新加坡</option>
                                                <option value="Sightseeing">马来西亚</option>
                                                <option value="Sightseeing">泰国</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="tour-search-one__btn-wrap">
                                        <button type="submit" class="thm-btn tour-search-one__btn">搜索</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
Tour Search End