<div class="tour-details-two__last-minute">
  <h3 class="tour-details-two__sidebar-title">近期热门</h3>
  <ul class="tour-details-two__last-minute-list list-unstyled">
    <li>
      <a href="tour-bubuzoushijie-malai-yigong.html">
        <div class="tour-details-two__last-minute-image">
          <img src="static/picture/nextcamp/Malaysia.png" height="50px" alt="">
        </div>
      </a>
      <div class="tour-details-two__last-minute-content">
        <h6>¥13900起</h6>
        <h5>马来西亚联合国难民署研学</h5>
        <p>马来西亚</p>
      </div>
    </li>
    <li>
      <a href="tour-bubuzoushijie-niboer.html">
        <div class="tour-details-two__last-minute-image">
          <img src="static/picture/nextcamp/Nepal.png" height="50px" alt="">
        </div>
      </a>
      <div class="tour-details-two__last-minute-content">
        <h6>¥35900</h6>
        <h5>尼泊尔纪录片拍摄研学</h5>
        <p>加德满都</p>
      </div>
    </li>
  </ul>
</div>