<!--Video Two Start-->
<div class="video-two">
    <div class="video-two-bg jarallax" data-jarallax="" data-speed="0.2" data-imgposition="50% 0%" style="background-image: url(static/image/video-one-two-bg.jpg)"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="video-two__inner">
                    <div class="video-one__video-link">
                        <a href="https://youtu.be/celhrcTI938?si=m0ojDuh_z6CEqQS4" class="video-popup">
                            <div class="video-one__video-icon">
                                <span class="icon-play-button"></span>
                                <i class="ripple"></i>
                            </div>
                        </a>
                    </div>
                    <p class="video-one__tagline">你准备好来一场研学了吗！</p>
                    <h2 class="video-one__title">Nextcamp是国内首家 <br> 直接和项目方面对面的研学咨询平台
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Video Two End-->