<!--Testimonial One Start-->
<section class="testimonial-one about-page-testimonial">
  <div class="about-page-testimonial-map" style="background-image: url(static/image/about-page-testimonial-map.png)"></div>
  <div class="container">
    <div class="section-title text-center">
      <span class="section-title__tagline">Testimonials & reviews</span>
      <h2 class="section-title__title">What They’re Saying</h2>
    </div>
    <div class="row">
      <div class="col-xl-12">
        <div class="testimonial-one__carousel owl-theme owl-carousel">
          <div class="testimonial-one__single">
            <div class="testimonial-one__img">
              <img src="static/picture/testimonial-one-img-1.png" alt="">
            </div>
            <div class="testimonail-one__content">
              <div class="testimonial-one__top-revivew-box">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
              <p class="testimonial-one__text">This is due to their best service, pricing and
                customer support. It’s throughly refresing to such a personal touch. Duis aute
                irure lupsum reprehenderit.</p>
              <div class="testimonial-one__client-info">
                <h3 class="testimonial-one__client-name">Shirley Smith</h3>
                <p class="testimonial-one__client-title">Customer</p>
              </div>
            </div>
          </div>
          <div class="testimonial-one__single">
            <div class="testimonial-one__img">
              <img src="static/picture/testimonial-one-img-2.png" alt="">
            </div>
            <div class="testimonail-one__content">
              <div class="testimonial-one__top-revivew-box">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
              <p class="testimonial-one__text">This is due to their best service, pricing and
                customer support. It’s throughly refresing to such a personal touch. Duis aute
                irure lupsum reprehenderit.</p>
              <div class="testimonial-one__client-info">
                <h3 class="testimonial-one__client-name">Kevin Martin</h3>
                <p class="testimonial-one__client-title">Customer</p>
              </div>
            </div>
          </div>
          <div class="testimonial-one__single">
            <div class="testimonial-one__img">
              <img src="static/picture/testimonial-one-img-3.png" alt="">
            </div>
            <div class="testimonail-one__content">
              <div class="testimonial-one__top-revivew-box">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
              <p class="testimonial-one__text">This is due to their best service, pricing and
                customer support. It’s throughly refresing to such a personal touch. Duis aute
                irure lupsum reprehenderit.</p>
              <div class="testimonial-one__client-info">
                <h3 class="testimonial-one__client-name">Jessica Brown</h3>
                <p class="testimonial-one__client-title">Customer</p>
              </div>
            </div>
          </div>
          <div class="testimonial-one__single">
            <div class="testimonial-one__img">
              <img src="static/picture/testimonial-one-img-1.png" alt="">
            </div>
            <div class="testimonail-one__content">
              <div class="testimonial-one__top-revivew-box">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
              <p class="testimonial-one__text">This is due to their best service, pricing and
                customer support. It’s throughly refresing to such a personal touch. Duis aute
                irure lupsum reprehenderit.</p>
              <div class="testimonial-one__client-info">
                <h3 class="testimonial-one__client-name">Shirley Smith</h3>
                <p class="testimonial-one__client-title">Customer</p>
              </div>
            </div>
          </div>
          <div class="testimonial-one__single">
            <div class="testimonial-one__img">
              <img src="static/picture/testimonial-one-img-2.png" alt="">
            </div>
            <div class="testimonail-one__content">
              <div class="testimonial-one__top-revivew-box">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
              <p class="testimonial-one__text">This is due to their best service, pricing and
                customer support. It’s throughly refresing to such a personal touch. Duis aute
                irure lupsum reprehenderit.</p>
              <div class="testimonial-one__client-info">
                <h3 class="testimonial-one__client-name">Kevin Martin</h3>
                <p class="testimonial-one__client-title">Customer</p>
              </div>
            </div>
          </div>
          <div class="testimonial-one__single">
            <div class="testimonial-one__img">
              <img src="static/picture/testimonial-one-img-3.png" alt="">
            </div>
            <div class="testimonail-one__content">
              <div class="testimonial-one__top-revivew-box">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
              <p class="testimonial-one__text">This is due to their best service, pricing and
                customer support. It’s throughly refresing to such a personal touch. Duis aute
                irure lupsum reprehenderit.</p>
              <div class="testimonial-one__client-info">
                <h3 class="testimonial-one__client-name">Jessica Brown</h3>
                <p class="testimonial-one__client-title">Customer</p>
              </div>
            </div>
          </div>
          <div class="testimonial-one__single">
            <div class="testimonial-one__img">
              <img src="static/picture/testimonial-one-img-1.png" alt="">
            </div>
            <div class="testimonail-one__content">
              <div class="testimonial-one__top-revivew-box">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
              <p class="testimonial-one__text">This is due to their best service, pricing and
                customer support. It’s throughly refresing to such a personal touch. Duis aute
                irure lupsum reprehenderit.</p>
              <div class="testimonial-one__client-info">
                <h3 class="testimonial-one__client-name">Shirley Smith</h3>
                <p class="testimonial-one__client-title">Customer</p>
              </div>
            </div>
          </div>
          <div class="testimonial-one__single">
            <div class="testimonial-one__img">
              <img src="static/picture/testimonial-one-img-2.png" alt="">
            </div>
            <div class="testimonail-one__content">
              <div class="testimonial-one__top-revivew-box">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
              <p class="testimonial-one__text">This is due to their best service, pricing and
                customer support. It’s throughly refresing to such a personal touch. Duis aute
                irure lupsum reprehenderit.</p>
              <div class="testimonial-one__client-info">
                <h3 class="testimonial-one__client-name">Kevin Martin</h3>
                <p class="testimonial-one__client-title">Customer</p>
              </div>
            </div>
          </div>
          <div class="testimonial-one__single">
            <div class="testimonial-one__img">
              <img src="static/picture/testimonial-one-img-3.png" alt="">
            </div>
            <div class="testimonail-one__content">
              <div class="testimonial-one__top-revivew-box">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
              <p class="testimonial-one__text">This is due to their best service, pricing and
                customer support. It’s throughly refresing to such a personal touch. Duis aute
                irure lupsum reprehenderit.</p>
              <div class="testimonial-one__client-info">
                <h3 class="testimonial-one__client-name">Jessica Brown</h3>
                <p class="testimonial-one__client-title">Customer</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Testimonial One End-->