<div class="tour-details-two__book-tours">
  <h3 class="tour-details-two__sidebar-title">联系我们，即刻预定！</h3>
  <form action="#" class="tour-details-two__sidebar-form">
    <div class="tour-details-two__sidebar-form-input">
      <input type="text" placeholder="姓名" name="where to">
    </div>
    <div class="tour-details-two__sidebar-form-input">
      <input type="text" placeholder="所在城市" name="When">
    </div>
    <div class="tour-details-two__sidebar-form-input">
      <select class="selectpicker" id="type">
        <option value="Adventure">小于12岁</option>
        <option value="Adventure">12-14岁</option>
        <option value="Wildlife">14-16岁</option>
        <option value="Sightseeing">16岁及以上</option>
      </select>
      <div class="tour-details-two__sidebar-form-icon">
        <i class="fa fa-angle-down"></i>
      </div>
    </div>
    <div class="tour-details-two__sidebar-form-input">
      <input type="text" name="date" placeholder="可出发时间" id="datepicker">
      <div class="tour-details-two__sidebar-form-icon">
        <i class="fa fa-angle-down"></i>
      </div>
    </div>
    <button type="submit" class="thm-btn tour-details-two__sidebar-btn">现在预定
    </button>
  </form>
</div>